<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    {% include "part3/imports.html" %}
    <title>digishop</title>
</head>

<body>
    {% include "part3/navbar.html" %}
    <section style="background-color: #662C91;" class="py-5 text-center">
        <h1 class="text-light">Results</h1>
        <br>
        <img class="banner-logo" src="/shared/images/part3/search.png" alt="" width="150">
    </section>
    <!-- /shared/images/part3/assets/laptop.png -->

    <div style="margin-top:100px; margin-bottom: 100px;" class="container">
        {% for item in results %}
        <div style="border:1px solid black; padding:5px; margin:5px;" class="row">
            <div class="col-3">
                {% if item.GPU %}
                <img width="200" src="/shared/images/part3/assets/desktop.png" alt="desktop">
                {% else %}
                <img width="200" src="/shared/images/part3/assets/laptop.png" alt="laptop">
                {% endif %}

            </div>
            <div class="col-6">
                <h1>
                    {{item.model}}
                </h1>
                <ul>
                    <li>
                        {{item.RAM.base}}
                    </li>
                    <li>
                        {{item.CPU.base}}
                    </li>
                    <li>
                        ...
                    </li>
                </ul>
                {% if item.GPU %}
                <a class="btn btn-primary" href="/part3/desktop/{{item.model}}">View Details</a>
                {% else %}
                <a class="btn btn-primary" href="/part3/laptop/{{item.model}}">View Details</a>
                {% endif %}

            </div>
        </div>
        {% endfor %}
    </div>

    <div class="footer">
        <br>
        <p> &copy; Alireza Azimi 2022</p>
    </div>
    <script src="{% static 'js/part3/main.js' %}"></script>
</body>

</html>